.container {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
  }
  .containerHeader{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
  }
  .left-col {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: top;
  }
  
  .center-col {
    flex: 3;
  }
  
  .right-col {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: top;
  }
