

  
  .container {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    background-color: #ffffff;
    margin-top: 3%;
  }
  @media (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      background-color: #ffffff;
      margin-top: 3%;
    }
    }
    
.startNow{
  color: #fff8f8;
}
  .reg-container {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    background-color: #061b3d;
  }
  .category {
    background-color: #ffffff;
  }
  .containerHeader{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
  }
  .left-col {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: top;
  }
  
  .center-col {
    flex: 0.6;
  }
  .mainPost{
    justify-content: left;
    overflow-x: scroll;
    width:500;
    margin-top: 5px;
  }
  
  .right-col {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: top;
  }
  .posts{
    color: rgb(0, 0, 0);
  }
  .post-topic {
    padding: 15px;
    text-align: left;
    font-family: Times New Roman,Times,serif;
    color: #294344;
    border-radius: 3%;
    font-size: 20px;
    font-weight: bolder;
    background-color: #fff8f8;
  }
  .post-main{
    max-height :  500px;
    overflow-y:scroll;
  }
  .post-discription{
    margin-left: 10px;
  }
  .post-details{
    text-align: right;
  }
  .css-f91fgu {
    list-style: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #9DA5AB;
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    font-size: 17px;
}

 
.fullscreen-enabled .post-main {
  background: #fff;
  height: 100%;
  max-height: 100%;
  overflow-y:scroll;
}
body .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight{
  background-color: #061b3d;
    color: #ffffff;
}

.open-full-screen-button{
  float: right;
};



