.NavBar-Wrapper {
  background-color: #bb5a5a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #fff;
}

.NavBar-Title {
  font-weight: bolder;
  flex : 0.05
}

.NavBar-Link {
  padding: .8rem;
  color: #d8d9da;
  transition: .7s color ease;
  flex:0.4
}

.NavBar-Link:hover {
  color: #fff;
}
.NavBar-search{
  flex:0.55
}