.reg-container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffffff;
    font-size: x-large;
    font-weight: bold;
    color:#061b3d;
  }
  @media (max-width: 600px) {
    .reg-container-main {
        display: flex;
        flex-direction: column;
        color: #061b3d;
        align-items: center;
        background-color:#ffffff;
        font-size: large;
        font-weight: bold;
    }
  }
  .statement-card {
    flex: 1 1 100%;
    max-width: 22%;
    height: 200px;
    margin: 8px;
    background: white;
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 7px 0 rgba(206, 221, 232, .84);
}
.statements-view {
  margin: 20px auto;
  width: 90%;
  min-height: 400px;
}
.monthly-statements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}